.posts{
    list-style-type: none;
    margin : 0;
}
.post{
    margin: 1rem 0;
    
    a{
        background: rgb(103, 184, 65);
        color:rgb(27, 10, 10);
        display: block;
        padding:1rem;
        text-decoration: none;
    }
    a:hover{
        background:rgb(94, 172, 58);
    }

    h2{
        margin-bottom:0;
    }
    p{
        font-size:0.8rem;
        color:#777777;
        font-style:italic;
    }

}