.nav-item{
    color:rgb(255, 250, 250);
    font-size:1.5rem;
    margin-right:1.3rem;
    text-decoration: none;
}

.nav-div{
    display:flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item:hover{
    color:rgb(255, 210, 113);
}

.active-nav-item{
    color:rgb(246, 244, 85);
}

.header {
    padding: 1rem 4rem 3rem;
    display:flex;
    background-color:rgb(92, 157, 179);
}

.title{
    color:rgb(250, 246, 246);
    text-decoration: none;
    font-size:3rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin : 0;
}

