.container{
    margin:0 auto;
    min-height: 100vh;
    color:white; 
    display: flex;
    flex-direction: column;
    background-color:rgba(251, 207, 86, 0.986) ;

}
.content{
    flex-grow: 1;
    max-width: 80vw;
    padding: 10vw;

    margin:auto;
    display:flex;
    flex-direction: column;
    
    background-image:linear-gradient(90deg, rgba(251, 207, 86, 0.986) 5% ,rgba(103, 184, 65, 0.829) 15% 85% ,rgba(251, 207, 86, 0.986) 95% ) ;


}